<div class="container" (window:resize)="onResize($event)">
    <div class="product" *ngFor="let product of products">
        <div *ngIf="product?.active">

            <mat-grid-list cols="{{col}}" rowHeight="{{row}}:1">
                <mat-grid-tile>
                    <h1 class="product-name">{{product?.name}}</h1>
                </mat-grid-tile>
                <mat-grid-tile>
                    <ul>
                        <li>
                            <mat-icon>check_circle</mat-icon>Cena: {{product?.price}} </li>
                        <li>
                            <mat-icon>check_circle</mat-icon>Czas trwania umowy: {{product?.durationInMonths}}</li>
                        <li>
                            <mat-icon>check_circle</mat-icon>Opis: {{product?.description}}</li>
                        <li>
                            <mat-icon>check_circle</mat-icon>Typ oferty: {{product?.avabileClasses}}</li>
                        <li *ngIf="product?.contract">
                            <mat-icon>check_circle</mat-icon>Kontrakt: Tak</li>
                        <li *ngIf="!product?.contract">
                            <mat-icon>check_circle</mat-icon>Kontrakt: Nie</li>
                    </ul>
                </mat-grid-tile>
                <mat-grid-tile colspan="{{colButton}}">
                    <a class="button" href="https://justfit-webuser.web.app">KUP KARNET</a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

</div>