.product-name::before {
    background-image: url('/assets/product-icon.png');
    background-size: 100px 100px;
    display: inline-block;
    width: 100px;
    height: 100px;
    content: "";
}

.product {
    border: 2px solid orange;
    background-color: white;
    color: black;
    width: 50%;
    height: 200px;
    margin-left: 20%;
}

@media screen and (min-width: 600px) {
    .product {
        height: 450px;
        width: 75%;
        margin-left: 13%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 300px) {
    .product {
        height: 400px;
        width: 75%;
        margin-left: 13%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 1040px) {
    .product {
        margin-left: 20%;
        height: 350px;
        width: 60%;
    }
}

.button:hover {
    border: 1px solid white;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.product:hover {
    background-image: url('/assets/product.jpg');
}

ul {
    list-style-type: none;
    overflow: hidden;
}

.button {
    padding: 10px;
    border: none;
    background: orange;
    color: white;
    height: auto;
    width: 130px;
    text-align: center;
}

.button::after {
    background-image: url('/assets/dumbbell-icon.png');
    background-size: 30px 30px;
    display: block;
    margin-left: 50px;
    text-align: center;
    width: 30px;
    height: 30px;
    content: "";
}

.button:hover {
    cursor: pointer;
    text-decoration: none;
}