.product-name::before {
    background-image: url('/assets/product-icon.png');
    background-size: 100px 100px;
    display: inline-block;
    width: 100px;
    height: 100px;
    content: "";
}

.product {
    border: 2px solid orange;
    background-color: white;
    color: black;
    width: 50%;
    height: 200px;
    margin-left: 20%;
}

@media screen and (min-width: 600px) {
    .product {
        height: 450px;
        width: 75%;
        margin-left: 13%;
        margin-right: 20%;
    }
    .button {
        width: 200px;
        height: 95px;
    }
}

@media screen and (min-width: 300px) {
    .product {
        height: 400px;
        width: 75%;
        margin-left: 13%;
        margin-right: 20%;
    }
    .button {
        width: 100px;
        height: 50px;
    }
}

@media screen and (min-width: 1040px) {
    .product {
        margin-left: 20%;
        height: 350px;
        width: 60%;
    }
    .button {
        width: 150px;
        height: 95px;
    }
}

@media screen and (min-width: 1300px) {
    .button {
        width: 150px;
        height: 80px;
    }
}

@media screen and (min-width: 1340px) {
    .button {
        width: 150px;
        height: 70px;
    }
}

@media screen and (min-width: 1360px) {
    .button {
        width: 150px;
        height: 60px;
    }
}

@media screen and (min-width: 1400px) {
    .button {
        width: 150px;
        height: 80px;
    }
}

button:hover {
    border: 1px solid white;
}

.product:hover {
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

button {
    border: none;
    background: orange;
    color: white;
    height: 80px;
    width: 100px;
}

button::before {
    background-image: url('/assets/dumbbell-icon.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
}

button:hover {
    cursor: pointer;
}