<div class="contact" (window:resize)="onResize($event)">
    <mat-grid-list cols="2" rowHeight="{{col}}:1">
        <mat-grid-tile>
            <div class="logo"> <button mat-button (click)="welcomePage()"> <h1>JUST_FIT</h1></button></div>
            <p>
                <a href="mailto:biuro@justfit.pl">
                    <mat-icon>alternate_email</mat-icon>biuro@justfit.pl</a><br></p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>ŚLEDZ NAS W INTERNECIE</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-icon> location_on</mat-icon> JustFit /Gdynia, ul.Tyskowska 4</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://www.facebook.com/"><img src="assets/fb.png"></a>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-icon>av_timer</mat-icon>Godziny otwarcia (PN-PT) 6.00-24.00 (SO-ND) 7.00-22.00</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://www.instagram.com/"><img src="assets/insta.png"></a>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <a href="tel:111 111 111">
                    <mat-icon>phone</mat-icon>Telefon XXX XXX XXX</a>
            </p>
        </mat-grid-tile>
    </mat-grid-list>
</div>