<div class="footer">
    <mat-grid-list cols="{{cols}}" rowHeight="2:0.05">
        <div class="basic-info">
            <mat-grid-tile> POLITYKA PRYWATNOŚCI</mat-grid-tile>
            <mat-grid-tile>INSPEKTOR DANYCH OSOBOWYCH XXX</mat-grid-tile>
        </div>
        <div class="add-info">
            <mat-grid-tile>
                <mat-icon>copyright</mat-icon>JustFit. Wszystkie prawa zatrzeżone
            </mat-grid-tile>

            <mat-grid-tile>Made By &nbsp;<a href="https://github.com/Pancerro?tab=repositories"> Pancerro</a></mat-grid-tile>
        </div>
    </mat-grid-list>
</div>