.footer {
    margin-top: 15px;
    background-color: orange;
    color: black;
    width: 100%;
    height: 160px;
}

.privacy {
    border: none;
    background-color: orange;
}

.privacy:hover {
    color: white;
    cursor: pointer;
}