.menu {
    padding-left: 3%;
}

.webClient {
    color: orange;
}

.menu-item {
    width: 300px;
    text-align: center;
}

.menu-item:hover {
    color: orange;
}

.menu-benefit-card {
    padding-left: 3%;
    background-color: orange;
    color: black;
    min-height: 60px;
    line-height: 60px;
}

.menu-benefit-card h3 {
    display: flex
}

.benefit-card_list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 10px;
    overflow: hidden;
}

.benefit-card_list li {
    display: inline-block;
    margin-right: 10px
}