<div class="employees">
    <h4>Nasza druzyna</h4>
    <h1>
        <button class="previousWorkerButton" (click)="previousWorker(worker.getId())" mat-button>	<mat-icon>arrow_left</mat-icon></button> {{worker?.getFirstName()}} {{worker?.getSurname()}}
        <button class="nextWorkerButton" (click)="nextWorker(worker.getId())" mat-button><mat-icon>arrow_right</mat-icon></button>
    </h1>
    <br>
    <p>Specjalizajca: {{worker?.getSpecialization()}}</p>
    <br>
    <p>Email: {{worker?.getEmail()}}</p>
    <br>
    <p>Numer Telefonu: {{worker?.getNumber()}}</p>
    <br>
    <p>Godziny pracy: {{worker?.getWorkingHour()}}</p>




</div>