.button-background {
    width: 100px;
    height: 100px;
    background-color: orangered;
    display: inline-block;
}

.button-background button {
    margin-bottom: 10000px;
}

.photo {
    display: inline-block;
}