.photo {
    width: 100%;
    height: auto;
}

.employees {
    margin-top: 50px;
    text-align: center;
}

.nextWorkerButton {
    background-color: orange;
    width: 50px;
    height: 40px;
}

.previousWorkerButton {
    background-color: orange;
    width: 50px;
    height: 40px;
}

.nextWorkerButton:hover {
    border: 2px solid yellow;
}

.previousWorkerButton:hover {
    border: 2px solid yellow;
}

h4 {
    color: orange;
}

a:hover {
    color: orange;
}