.employees {
    margin: 0 auto;
    margin-top: 50px;
    border: 1px orange solid;
    border-radius: 6px;
    width: 360px;
    height: 400px;
    position: relative;
}

Button {
    background-color: orange;
    width: 50px;
    height: 40px;
}

Button:hover {
    border: 2px solid yellow;
}

h4 {
    color: orange;
}

a:hover {
    color: orange;
}

.nextWorkerButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.previousWorkerButton {
    position: absolute;
    left: 0;
    bottom: 0;
}

img {
    border: 1px orange solid;
}