<div class="container">
    <div class="logo">
        <button mat-button (click)="welcomePage()"> <h1>JUST_FIT</h1></button>
    </div>
    <div class="container-margin">
        <h1>Polityka dotycząca cookies</h1>
        <p>W celu świadczenia usług na najwyższym poziomie stosujemy&nbsp;<strong>pliki cookies</strong>. Korzystanie z naszej witryny oznacza, że będą one zamieszczane w Państwa urządzeniu. W każdym momencie można dokonać zmiany ustawień Państwa przeglądarki.
            Dodatkowo, korzystanie z naszej witryny oznacza akceptację przez Państwa klauzuli przetwarzania danych osobowych udostępnionych drogą elektroniczną.</p>
        <p>&nbsp;</p>
        <p>Dla Państwa wygody <strong>serwis</strong>&nbsp;<strong>JustFit</strong>&nbsp;używa plik&oacute;w cookies po to,&nbsp;<strong>by dostosować serwis do potrzeb użytkownik&oacute;w</strong>, a także w celach statystycznych.</p>
        <p>Pliki cookies (tzw. ciasteczka)&nbsp;<strong>to niewielkie pliki tekstowe wysyłane przez odwiedzany serwis internetowy</strong>&nbsp;do urządzenia internauty (komputer, smartfon itp.). Nie zawierają one żadnych danych osobowych.</p>
        <p>Serwis JustFit stosuje dwa typy plik&oacute;w cookies:&nbsp;</p>
        <ol>
            <li>wydajnościowe (zbierające informacje na temat sposobu używania witryny przez odwiedzających, np. najczęściej odwiedzanych stron lub komunikat&oacute;w o błędach itp.),</li>
            <li>funkcjonalne (zapisujące ustawienia użytkownika, np. język, wyrażone zgody itp.), takie jak:</li>
        </ol>
        <ul>
            <li>cookies google-analytics.com &ndash; służą do prowadzenia statystyk dla witryny JustFit; dokładny spos&oacute;b działania i politykę prywatności Google Analytics można znaleźć pod adresem:&nbsp;<a href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a>,</li>
            <li>cookies inspectlet.com &ndash; służą do określenia sposobu używania strony przez użytkownik&oacute;w; dokładny spos&oacute;b działania i politykę prywatności można znaleźć pod adresem:&nbsp;<a href="https://www.inspectlet.com/legal">https://www.inspectlet.com/legal</a>,</li>
            <li>cookies sesyjne &ndash; są to tymczasowe informacje przechowywane w pamięci przeglądarki do momentu zakończenia sesji, czyli jej zamknięcia.</li>
        </ul>
        <p>Serwisy obce, do kt&oacute;rych niekiedy odsyła serwis gov.pl, mogą używać także innych plik&oacute;w cookies niż wymienione powyżej, w &nbsp;tym w szczeg&oacute;lności plik&oacute;w umożliwiających logowanie się oraz dostarczanie reklam odpowiadających
            upodobaniom i zachowaniom użytkownika. Tego rodzaju pliki cookies to:</p>
        <ul>
            <li>w serwisie youtube.com &ndash; zawierające preferencje użytkownika, oraz liczydło kliknięć; polityka prywatności serwisu YouTube opisana jest pod adresem:&nbsp;<a href="http://www.google.pl/intl/pl/policies/privacy/">http://www.google.pl/intl/pl/policies/privacy/</a>,</li>
            <li>w serwisie player.vimeo.com i av.vimeo.com &ndash; pozwalające na zalogowanie się, a także cookies umieszczane przez reklamodawc&oacute;w w celu dopasowania treści i form reklam; polityka plik&oacute;w cookies serwisu Vimeo dostępna jest pod
                adresem http://vimeo.com/cookie_policy.</li>
        </ul>
        <p><strong>W większości przeglądarek internetowych można: kasować pliki typu cookies z twardego dysku komputera (z poziomu ustawień przeglądarki), zablokować wszystkie przysyłane pliki typu cookies lub ustawić ostrzeżenie przed zapisaniem ich na dysku.&nbsp;</strong></p>
        <p>Należy mieć na uwadze, że zmiany ustawień tych plik&oacute;w polegające na ograniczeniu ich stosowania mogą wpłynąć na niekt&oacute;re funkcjonalności dostępne na stronach internetowych je stosujących np. uniemożliwiając zalogowanie się na konto
            pocztowe.&nbsp;
            <strong>Brak zmiany tych ustawień oznacza akceptację dla stosowania plik&oacute;w typu cookies</strong>.</p>
        <p><strong>Poniżej wskazujemy spos&oacute;b zmiany ustawień cookies w najbardziej popularnych wyszukiwarkach:</strong></p>
        <p><strong>Google Chrome</strong><br /> Menu &gt; Ustawienia &gt; Pokaż ustawienia zaawansowane &gt; Prywatność &gt; Ustawienia treści &gt; Pliki cookies &nbsp;&ndash; należy wybrać odpowiednią opcję.</p>
        <p><strong>Internet Explorer</strong><br /> Menu &gt; Narzędzia &gt; Opcje internetowe &gt; Prywatność &ndash; należy wybrać odpowiednią opcję.</p>
        <p><strong>Mozilla Firefox</strong><br /> Menu &gt; Opcje &gt; Prywatność &gt; Historia &ndash; należy wybrać odpowiednią opcję.</p>
        <p><strong>Opera</strong><br /> Menu &gt; Preferencje &gt; Zaawansowane &gt; Ciasteczka &ndash; należy wybrać odpowiednią opcję.</p>
        <p><strong>Safari</strong><br /> Menu &gt; Preferencje &gt; Prywatność &gt; Pliki cookies &ndash; należy wybrać odpowiednią opcję.</p>
    </div>
</div>