.news {
    width: 85%;
    margin-left: 15%;
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 620px) {
    .news {
        margin-left: 5%;
    }
}

.container {
    background-color: black;
    text-align: center;
}

.news-list {
    display: flex;
}

.news-all {
    margin-top: 50px;
}

.button-see-all {
    margin-right: 17%;
}

@media screen and (max-width: 1620px) {
    .news-list-img-3 {
        display: none;
    }
}

@media screen and (max-width: 1220px) {
    .news-list-img-2 {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .news-list-img-1 {
        display: none;
    }
}

.sidenav {
    width: 100%;
    background-color: orange;
}

.close-button {
    float: right;
    margin-top: -20px;
}

button:hover {
    color: orange;
}

.button-nav:hover {
    color: blue;
}

.close-button:hover {
    color: red;
}