.sticky {
    position: fixed;
    overflow: hidden;
    z-index: 10;
    top: 83px;
    width: 100%;
    background-color: black;
}

.sticky.scroll {
    top: 0;
    height: 50px;
    border-bottom: 1px solid white;
    background-color: orange;
    color: black;
}

.menu-margin {
    margin-left: 2%;
}

.web-client {
    color: orange;
}

.web-client.new-color {
    color: white;
}

.logo {
    margin-left: 2%;
}

.logo.scroll {
    opacity: 0;
}

.menu-benefit-card.scroll {
    opacity: 0;
}

.content {
    text-align: center;
}

.news {
    margin-top: 25px;
    height: auto;
}

.employess {
    margin-top: 150px;
    height: auto;
}

.equipment {
    margin-top: 150px;
    height: auto;
    padding-bottom: 100px;
}

.product {
    text-align: initial;
}

.product h1 {
    margin-left: 20%;
}

.contact {
    margin-top: 150px;
    height: auto;
    padding-bottom: 50px;
}

.menu {
    background-color: black;
}

.menu-item {
    width: 300px;
    text-align: center;
}

.menu-item:hover {
    color: orange;
}

.menu-benefit-card {
    padding-left: 3%;
    background-color: orange;
    color: black;
    min-height: 60px;
    line-height: 60px;
}

.menu-benefit-card h3 {
    display: flex
}

.benefit-card_list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 10px;
    overflow: hidden;
}

.benefit-card_list li {
    display: inline-block;
    margin-right: 10px
}