/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    position: relative;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
    background-color: orange;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    footer {
        display: none;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}